<div class ="row">
	<div class ="col-md-4 col-md-offset-4">

		<h3>Nuevo mensaje para: <strong><%= @recipient.name %></strong></h3>

		<%= form_for @mensaje do |f| %>
		  <%= hidden_field_tag 'recipient_id', @recipient.id %>

		  <%= f.label " " %>
		  <br></br>
		  <%= f.text_area :body %>
		  <br></br>
		  <%= f.submit "Enviar"%> 
		<% end %>
		</div>
		</div>