<div class ="row">
	<div class ="col-md-4 col-md-offset-4">

		<h3 style="color:#599487; font-size:35px; font-family:'Trebuchet MS', 'Times', 'serif'; text-align: center; font-style: oblique;">Nuevo mensaje para: <strong><%= @recipient.name %></strong></h3>

		<%= form_for @mensaje do |f| %>
		  <%= hidden_field_tag 'recipient_id', @recipient.id %>

		  <%= f.label " " %>
		  <br></br>
		  <div style= "font-size: 20px;" class= "col-md-4 col-md-offset-1">
		  <%= f.text_area :body %>
		  </div>
		  <br></br>
		  <br></br>
		  <div style= "font-size: 15px; font-family:'Trebuchet MS', 'Times', 'serif';" class= "col-md-4 col-md-offset-7">
		  <%= f.submit "Enviar"%> 
		  </div>
		<% end %>
		</div>
		</div>